nav{
    position: relative;
    height: 80px;
    width:100%;
    background: rgba(58, 91, 176,0.8);
    mix-blend-mode: normal;
    border-radius: 30px;
}

nav.a{
    position: absolute;
    width: 185px;
    height: 75px;
    left: 0px;
    top: calc(50% - 75px/2 - 0.5px);
}

.zoom {
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
    color: black;
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

ul{
    position: absolute;
    width: 469px;
    height: 24px;
    left: 456px;
    top: 28px;

}

.x{
    position: absolute;
    width: 163px;
    height: 24px;
    left: calc(50% - 163px/2 - 182.5px);
    top: calc(50% - 24px/2);
    
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-transform: capitalize;
    
    color: #FDB813;
    
    border: 0.5px solid #000000;
}

.y{
    position: absolute;
    width: 127px;
    height: 24px;
    left: calc(50% - 127px/2 + 8.5px);
    top: calc(50% - 24px/2);
    
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-transform: capitalize;
    
    color: #FDB813;
    
    border: 0.5px solid #000000;
}

.z{
    position: absolute;
    width: 87px;
    height: 24px;
    left: calc(50% - 87px/2 + 161.5px);
    top: calc(50% - 24px/2);
    
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-transform: capitalize;
    
    color: #FDB813;
    
    border: 0.5px solid #000000;
}

.dropdown {
    position:fixed;
width: 210px;
height: 29px;
left: 1196px;
top: 20px;
  }
  
  .dropdown .dropbtn {
    font-family: 'Poppins';
font-style: italic;
font-weight: 600;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-transform: capitalize;
color: #FDB813;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:hwb(44 2% 2%) ;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow:  rgba(58, 91, 176,0.8);
    z-index: 1;
  }
  
  .dropdown-content a {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FDB813;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(0, 0, 0);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .summa{}



