<nav>
    <a href="home"><img class='zoom' src="assets/snortlogo1.png" align ="left" width=150 height=80></a>
    <ul>
        <li class="x"><a href="#">Generate snort rule</a></li>
        <li class="y"><a href="#">View snort rule</a></li>
        <li class="z"><a href="#">start snort</a></li>
            <div class="dropdown">
            <button class="dropbtn">username<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="logout">logout</a>
                <a href="changepass">change password</a>
            </div>
            </div>
    </ul>
</nav>